trunk/1280/1280/Web References/com.ocrwebservice.www/OCRWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://stockservice.contoso.com/wse/samples/2005/10" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://stockservice.contoso.com/wse/samples/2005/10" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://stockservice.contoso.com/wse/samples/2005/10">
      <s:element name="OCRWebServiceRecognize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="license_code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OCRWSInputImage" nillable="true" type="tns:OCRWSInputImage" />
            <s:element minOccurs="1" maxOccurs="1" name="OCRWSSetting" nillable="true" type="tns:OCRWSSettings" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OCRWSInputImage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OCRWSSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ocrLanguages" type="tns:OCRWS_Language" />
          <s:element minOccurs="1" maxOccurs="1" name="outputDocumentFormat" type="tns:OCRWS_OutputFormat" />
          <s:element minOccurs="1" maxOccurs="1" name="convertToBW" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="getOCRText" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="createOutputDocument" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="multiPageDoc" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="pageNumbers" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ocrZones" type="tns:ArrayOfOCRWSZone" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OCRWS_Language">
        <s:restriction base="s:string">
          <s:enumeration value="BYELORUSSIAN" />
          <s:enumeration value="BULGARIAN" />
          <s:enumeration value="CZECH" />
          <s:enumeration value="DANISH" />
          <s:enumeration value="DUTCH" />
          <s:enumeration value="ENGLISH" />
          <s:enumeration value="ESTONIAN" />
          <s:enumeration value="FINNISH" />
          <s:enumeration value="FRENCH" />
          <s:enumeration value="GERMAN" />
          <s:enumeration value="GREEK" />
          <s:enumeration value="HUNGARIAN" />
          <s:enumeration value="ITALIAN" />
          <s:enumeration value="LATVIAN" />
          <s:enumeration value="LITHUANIAN" />
          <s:enumeration value="LATIN" />
          <s:enumeration value="MOLDAVIAN" />
          <s:enumeration value="POLISH" />
          <s:enumeration value="PORTUGUESE" />
          <s:enumeration value="ROMANIAN" />
          <s:enumeration value="RUSSIAN" />
          <s:enumeration value="SLOVAKIAN" />
          <s:enumeration value="SLOVENIAN" />
          <s:enumeration value="SPANISH" />
          <s:enumeration value="SERBIAN" />
          <s:enumeration value="SWEDISH" />
          <s:enumeration value="TURKISH" />
          <s:enumeration value="UKRAINIAN" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OCRWS_OutputFormat">
        <s:restriction base="s:string">
          <s:enumeration value="DOC" />
          <s:enumeration value="PDF" />
          <s:enumeration value="EXCEL" />
          <s:enumeration value="HTML" />
          <s:enumeration value="TXT" />
          <s:enumeration value="RTF" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfOCRWSZone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OCRWSZone" nillable="true" type="tns:OCRWSZone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OCRWSZone">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Left" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZoneType" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="OCRWebServiceRecognizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OCRWSResponse" nillable="true" type="tns:OCRWSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OCRWSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ocrText" type="tns:ArrayOfArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OCRWebServiceRecognizeSoapIn">
    <wsdl:part name="parameters" element="tns:OCRWebServiceRecognize" />
  </wsdl:message>
  <wsdl:message name="OCRWebServiceRecognizeSoapOut">
    <wsdl:part name="parameters" element="tns:OCRWebServiceRecognizeResponse" />
  </wsdl:message>
  <wsdl:portType name="OCRWebServiceSoap">
    <wsdl:operation name="OCRWebServiceRecognize">
      <wsdl:input message="tns:OCRWebServiceRecognizeSoapIn" />
      <wsdl:output message="tns:OCRWebServiceRecognizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OCRWebServiceSoap" type="tns:OCRWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OCRWebServiceRecognize">
      <soap:operation soapAction="http://stockservice.contoso.com/wse/samples/2005/10/OCRWebServiceRecognize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OCRWebServiceSoap12" type="tns:OCRWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OCRWebServiceRecognize">
      <soap12:operation soapAction="http://stockservice.contoso.com/wse/samples/2005/10/OCRWebServiceRecognize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OCRWebService">
    <wsdl:port name="OCRWebServiceSoap" binding="tns:OCRWebServiceSoap">
      <soap:address location="http://www.ocrwebservice.com/services/OCRWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="OCRWebServiceSoap12" binding="tns:OCRWebServiceSoap12">
      <soap12:address location="http://www.ocrwebservice.com/services/OCRWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>